.container-main{
  height: 100vh;
  padding: 0%;

}

.sideBar{
  background-color: #2e2b3e;
  padding: 0;
}
.breadcrumb-item{
  color:var(--theme-breadcrum-color);
}
.breadcrumb-item a{
  color:var(--theme-breadcrum-color);
}
.logFileContainer{
  height: 90vh;
  height: 102vh;
  resize: none;
  white-space: wrap;
  background-color: var(--theme-playground-background);
  border-radius: 10px;

}
.container{
  width: 100%;

}
.mainContainer{

  height: 100vh;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 6px;


}
#editor{
  width: 100%;
  margin-left: 0%;
  padding: 0%;
  margin-right: 0%;

}
#row{
  margin: 0%;
}
.editor{
  background-color: #2e2b3e;
  height: 50vh;
  resize: vertical;
  width: 100%;
  margin-left: 0%;
  padding: 0%;
  border: 1px rgb(182, 181, 181);
  border-radius: 6px;
  margin-bottom: 10px;
}

.buttonSection{
  color: white;
  padding:12px;
  text-align: right;
 margin-bottom: 2%;
}
.resultContainer{
  height: 55vh;
  resize: vertical;
  background-color: var(--theme-playgroundresult-background);
  color: var(--theme-playground-resultcontainer-color);
  border-radius: 10px;

}
.run-btn-contain{
  display: flex;
  justify-content: center;



}

.runbutton{
 padding: 6px;
 width: 80px;
 text-align: center;
 background: transparent;
  right: 26px;
  color: var(--theme-playground-resultcontainer-color);
  position: absolute;

}
.savebutton{
  padding: 6px;
  width: 40px;
}

.loadingSpinner{
  color: white;
}

#editor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


.padding-0{
  padding-right:0;
  padding-left:0;
}
textarea{
  border-radius: 0px;
}
.playground-container{

  padding-bottom:2%;
  background-color: var(--theme-playgroundContainer-background);
  border-radius: 5px;
  max-width:100%;


}
.playgroudtxt{
  color:var(--theme-playgroundtxt-color);
  position: relative;
  top: 14px;
}

.playground {
  display: flex;
  border: 1px solid ;
  border-color:var(--theme-playground-border-color) ;
  padding: 5px;
  border-radius:10px ;
  margin-top: 23px;


}
.playground-logfile{
  margin-right: 10px;
  border-radius:6px;

}
.breadcrumb {
  margin-top: 1%;
}
.breadcrumb-item{
  color:var(--theme-breadcrum-color);
}
.breadcrumb-item a{
  color:var(--theme-breadcrum-color);
  text-decoration: none;
}
.heading{
  background-color: aliceblue;
}

.file-upload {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-size: small;
  color: rgb(138, 138, 138);
}
.playground > div{
  width: 100%;
}
.result-container{
  width: 100%;
  border-radius: 6px;
  font-size: smaller;
}
.ace_editor{
  border-radius: 6px;
  font-size: smaller;
}

.playground uploadlogfile{
  color: black;
}

