.align-items-start {
  background-color: rgba(243, 240, 240, 0.933);
  width: 100%;
  border-radius: 2px;
}
.scrpit-header {
  color: var(--theme-loglist-projname-color);
}
.container {
  background: var(--theme-script-resultheader-background);
}
.FormControlTextarea {
  width: 100%;
  padding: 3px;
  margin-left: 0%;
  border-top: 1px #83828a solid;
  font-size: small;
}
.resultheading {
  border-bottom: 1px #83828a solid;
  margin-bottom: 2px;
}

.scriptViwerHeader {
  width: 100%;
  padding: 1px;
  border: 1px #83828a solid;
  font-size: small;

}
.result-type-btn {
  font-size: 16px;
  border-bottom: none;
  color: black;
  background: #c4c4c4;
  margin-left: 5px;
  width: 100px;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 8px;
  outline: none;
}
#btnGroup {
  float: right;
  width: 200px;
  margin-right: 0px;
}
.result-type-btn:focus {
  background-color: #b7b8e7;
}
.jsonViwer {
  background-color: white;
  font-size: small;
  min-height: 100vh;
  border: 1px #83828a solid;

  overflow: scroll;


}
.btn-outline-secondary:focus {
  background-color: white;
}
.result-heading-container {
  padding: 3px;
  color: white;
  margin-bottom: 1px;
}
.breadcrumb-item {
  color: var(--theme-breadcrum-color);
}
.breadcrumb-item a {
  color: var(--theme-breadcrum-color);
  text-decoration: none;
}
.btn-outline-secondary {
  color: var(--theme-button-txt-color);
  border-color: var(--theme-button-border-color);
}
