.container-main{
  height: 100vh;
  padding: 15px;
}
/*.top-text-container a{*/
/*  color: var(--theme-text-color);*/
/*}*/
.sideBar {
  background-color: #2e2b3e;
  padding: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
.breadcrumb-item{
  color:var(--theme-breadcrum-color);
}
.breadcrumb-item a{
  color:var(--theme-breadcrum-color);
  text-decoration: none;
}
.navClass {
  width: 100%;
  height: 100%;
}
th,
td {
  padding: 3px;
  text-align: center;
  color: var(--theme-logtable-color);
}

tr {
  margin-top: 100px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 8px;
}
.log {
  color: aqua;
}
.navClass mat-drawer {
  background-color: #2e2b3e;
  width: 20%;
}

.navClass img {
  width: 100%;
  margin-bottom: 30%;
}
.singleItem th,
td {
  padding:7px;
  text-align: center;
  color: var(--theme-text-color);
  vertical-align: middle;

}
.navClass mat-drawer-content {
  background-color: #2e2b3e;
}
.highlight {
  background-color: #4e4e55;
}
.highlight:nth-child(even) {
  background: var(--theme-tablerow-even-color);
}
.highlight:nth-child(odd) {
  background:var(--theme-tablerow-odd-color) ;
}

.highlight:hover {
  background-color: var(--theme-tablehighlight-hover-color);

  color: #f1f1f1;
}

.topNavbarLogList {
  color: w;
}
.topNavbarLogList a {
  color: white;
  margin-left: 40px;
}
.btndisplayresult{
  font-size: small;
}
.card {
 color:black;
}

.projName {
  padding: 10px;
  margin-top: 2%;
  color: var(--theme-loglist-projname-color);
}
.tbody {
  background-color: #403c54;
}

.topNavbarLogList {
  background-color: #e3e2e42a;
  width: 100%;
}
.tblHeader th  {
  border-color: rgba(255, 255, 255, 0.782);
  font-weight: 500;
  color: var(--theme-loglist-tableheader-color);
}
table,
th,
.topNavbarLogList {
  border-top: 1px solid;
  padding: 10px;
}

#row2 {
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.672);
  color: rgba(255, 255, 255, 0.672);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

#row2txt {
  color:var(--theme-loglist-row2txt-color) ;
  text-decoration: none;

}

.btn-group5 {
  margin-left: 100%;

}

.btnedit {
  width: 100px;
  height: 36px;
  margin-right: 5px;
  /*background-color: #6e71cf;*/
  border-color: #b5b4b4;
  background-color: transparent;
  border-radius: 5px;
  color: var(--theme-button-txt-color);

}
.btndelete {
  width: 100px;
  height: 36px;
  margin-right: 5px;
  border-radius: 5px; 
  border-color: #b5b4b4;
  background-color: transparent;
  color:var(--theme-button-txt-color);
}
.btndelete:focus{
  outline: none;
  box-shadow: none;
}
.btndelete:hover{
  background-color: #A7A7A7;
}
.btnedit:focus{
  outline: none;
  box-shadow: none;
}
.btnedit:hover{
  background-color: #A7A7A7;
}
.btn-sm btn-secondary{

  font-size: small;
  color: var(--theme-color);
  background: var(--theme-excuteButton-color);

}
.logist-project td{
  color:black;
  border-top: none;
  text-align: left;
  font-weight:450;
}
.logist-project th{
  text-align: left;
  border-top: none;
}
.logist-project {
border-collapse:collapse;
  border-top:none;
}
.btn-group{
  margin-top: 10px;
  margin-right: -9px;
}
