<div class="container-fluid" style="padding: 0;">
  <div class="row">
    <app-sign-out></app-sign-out>
  </div>
  <div class="d-flex">
    <div class="flex-fill">
      <div class="container-fluid">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#"> Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#"> Projects</a>
            </li>

            <li aria-current="page" class="breadcrumb-item active">Logs</li>
          </ol>
        </nav>

        <div
          class="
            d-flex
            justify-content-between
            flex-wrap flex-md-nowrap
            align-items-center
          "
        >
          <div class="projName">
            <h4>{{ projectname }}</h4>
          </div>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                  <button class="btnedit btn-outline-secondary">Edit</button>
                  <button class="btndelete btn-outline-secondary">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <b> Project Details</b>
          </div>
          <div class="card-body">
            <table class="table logist-project">
              <tr>
                <th>Project Key</th>
                <td>{{ projectId }}</td>
                <th>Project Name</th>
                <td> {{projectname}}</td>
              </tr>
              <tr>
                <th>Retention</th>
                <td> {{expiredate}}</td>
                <th>Created date</th>
                <td>{{createdate}}</td>
              </tr>
            </table>
          </div>
        </div>

        <div>
          <table class="table table-borderless vertical-align-middle">
            <thead class="tableheader">
              <tr>
                <div class="container">
                  <div class="row top-text-container">
                    <div class="col-sm" id="row2">
                      <a id="row2txt" href="">Logs </a>
                    </div>
                    <div class="col-sm" id="row2">
                      <a id="row2txt" routerLink="/playground/{{ projectId }}"
                        >PlayGround
                      </a>
                    </div>
                    <div class="col-sm" id="row2">
                      <a
                        id="row2txt"
                        routerLink="/displayScript/{{ projectId }}"
                        >Script</a
                      >
                    </div>
                    <div class="col-sm" id="row2">
                      <a
                        id="row2txt"
                        routerLink="/ldalScriptList/{{ projectId }}"
                        >Queries</a
                      >
                    </div>

                    <div class="col-sm" id="row2">
                      <a id="row2txt" routerLink="/projectJsons/{{ projectId }}"
                        >JSON</a
                      >
                    </div>
                  </div>
                </div>
              </tr>

            <tr class="tblHeader">
              <th scope="col">Log File Name</th>
              <th scope="col">Last Update</th>
              <th scope="col"></th>

              <th scope="col"></th>
            </tr>
            </thead>

            <tbody class="tableheader">
            <tr *ngFor="let log of logsByProject" class="highlight">
              <td routerLink="/showlogs/{{ log.fileId }}">
                {{ log.logfilename }}
              </td>
              <td routerLink="/showlogs/{{ log.fileId }}">
                {{ log.lastupdate }}
              </td>
              <td routerLink="/showlogs/{{ log.fileId }}">
                {{ log.projectid }}
              </td>

              <td>
                <button
                  class="btn btn-sm btn-secondary"
                  routerLink="/displayResult/{{ log.fileId }}"
                  type="button"
                >
                  Execute Script
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add LDEL Script</h4>
    <button
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
      class="close"
      type="button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-append">
            <table class="center">
              <tr>
                <td>
                  <button class="btn btn-secondary">Write Script</button>
                </td>
                <td></td>
                <td>
                  <button
                    class="btn btn-secondary"
                    routerLink="/uploadScript/{{ clickedId }}"
                  >
                    Upload script
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
