.userImage {
  height: 23px;
  width: 23px;
  float: right;
}
.Loggingout {
  float: right;
  font-size: small;
  border: #232130;
  color:var(--theme-topbar-background);
  background-color:transparent;
}
.dropdownMenu {
  background-color: #232130;
  color: rgb(172, 172, 172);
  top: 30px;
  position: absolute;
  right: 0px;
}
.DropdownItem {
  color: rgb(172, 172, 172);
}
.DropdownItem:hover{
  color: black;
}

header {
  z-index: 5;
  /*background-color: var(--theme-topbar-background);*/
  /*padding:4px;*/
  /*background-color: #2e2b3e;*/
}
.sign-out{
  height: 40px;

}
.topImage{
  width: 80px;
  height: 40px;
  margin-left: 40px;
}
