<nav class="navbar navbar-expand-sm justify-content-end" id="horiNavBar">
 

  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="Loggingout" id="dropdownBasic1" ngbDropdownToggle><img class="userImage" src="../../assets/user.png" />
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="signOut()">Sign Out </button>
                <button ngbDropdownItem>Settings</button>
              
              </div>
        
        </button>
    
        
      </div>
    </div>
  </div>

</nav>
