.container-main{
    height: 100vh;
    padding: 15px;
   

  }
  .sideBar{
    background-color: #2e2b3e;
    padding: 0;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }

  .navClass {
    width: 100%;
    height: 100%;
  }
  th,
  td {

    text-align: center;
    color:var(--theme-text-color);
    padding: .5rem .75rem;
    font-size: .8125rem;
  }


  .table {
    border-collapse: separate;
    border-spacing: 0 5px;
    padding-bottom: 5%;
  }


  .log {
    color: aqua;
  }
  .navClass mat-drawer {
    background-color: #2e2b3e;
    width: 20%;
  }

  .navClass img {
    width: 100%;
    margin-bottom: 30%;
  }
  .singleItem th,
  td {
    padding: 7px;
    text-align: center;
    color: var(--theme-color);
    cursor: pointer;
    vertical-align: middle;
  }
  .navClass mat-drawer-content {
    background-color: #2e2b3e;
  }
  .highlight {
    background-color: #4e4e55;
  }
  .highlight:nth-child(even) {
    background:var(--theme-tablerow-even-color) ;
  }
  .highlight:nth-child(odd) {
    background: var(--theme-tablerow-odd-color);
  }

  .highlight:hover {
    background-color: var(--theme-tablehighlight-hover-color);

    color: #f1f1f1;
  }

  .topNavbarLogList {
    color: w;
  }
  .topNavbarLogList a {
    color: white;
    margin-left: 40px;
  }
  .btndisplayresult{
    font-size: small;


  }

  .card {
    height: 200px;
    background-color:  rgba(230, 230, 230, 0.933);
    border-radius: 0%;
  }

  .projName {
    padding: 10px;
    margin-top: 2%;
  }
  .tbody {
    background-color: #403c54;
    
  }

  .topNavbarLogList {
    background-color: #e3e2e42a;
    width: 100%;
  }
  .tblHeader {
    border-color: rgba(255, 255, 255, 0.782);
    border: 1px;
    color:var(--theme-text-color);
  }

  #row2 {
    border-right: 1px solid;
    border-color: rgba(255, 255, 255, 0.672);
    color: rgba(255, 255, 255, 0.672);
  }

  #row2txt {
    color: rgba(255, 255, 255, 0.672);
    text-decoration: none;
  }
  .btn-group5 {
    margin-left: 100%;
  }

  .btnedit {
    width: 100px;
    height: 40px;
    margin-right: 5px;
    background-color: #6e71cf;
    border-color: #2e2b3e;
    border-radius: 3px;
    color: white;
  }
  .btndelete {
    width: 100px;
    height: 40px;
    margin-right: 5px;
    border-radius: 3px;
    background-color: #7f7f8a;
    color: white;
  }
  .btn-sm btn-outline-secondary{
    font-size: small;
    color: var(--theme-text-color);

  }
  .executeButton{

    color: var(--theme-text-color);
    background: var(--theme-excuteButton-backgound);

  }

  .createScript{
    background-color:var(--theme-createproject-button-color);
    border: 0px solid #ffffff6d;
  }
  .scriptName{
  color: #ffffffc0;
  }
  .SaveButton{
    background-color: #2E2B3E;
    border: 1px solid #ffffff6d;
    color:  #ffffff;;
  }
  .close{
    background-color: #2E2B3E;
  }

  .scriptatt{
    color:  #ffffff;;
  }

  .scriptCreateForm{
    background-color: #2E2B3E;
    border: 0.1px solid #2E2B3E;
    color: #ffffff;
  }

  h2{
  font-size: 24px;
    font-weight: 600;
    color: #555;
    line-height: 50px;
    color: var(--theme-text-color);
  }

    .btn-success {
      color: rgba(255, 255, 255, 0.611);
      background-color :var(--theme-createproject-button-color);
      border-color:rgba(255, 255, 255, 0.57);
  }

  .breadcrumb{

    padding: .25rem;
    flex-wrap: wrap;
    border-radius: 5px;
  }

  .breadcrumb-item a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.611);
  }
.breadcrumb-item{
  color:var(--theme-breadcrum-color);
}
.breadcrumb-item a{
  color:var(--theme-breadcrum-color);
}

.ngx-contextmenu ul {
  display: block;
}