th,
td {
  padding: 3px;
  text-align: center;
  color: #dad1d1;
}

tr {
  margin-top: 100px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 8px;
}

.log {
  color: aqua;
}
.navClass mat-drawer {
  background-color: #2e2b3e;
  width: 20%;
}

.navClass img {
  width: 100%;
  margin-bottom: 30%;
}
.singleItem th,
td {
  padding: 5px;
  text-align: center;
  color: #dad1d1;
}
.navClass mat-drawer-content {
  background-color: #2e2b3e;
}
.highlight {
  background-color: #4e4e55;
}
.highlight:nth-child(even) {
  background: #3b384a;
}
.highlight:nth-child(odd) {
  background: #3b384a;
}

.highlight:hover {
  background-color: #6e71cf;

  color: #f1f1f1;
}

.topNavbarLogList {
  color: w;
}
.topNavbarLogList a {
  color: white;
  margin-left: 40px;
}
.btndisplayresult {
  font-size: small;
}

.card {
  height: 200px;
  background-color: rgba(230, 230, 230, 0.933);
  border-radius: 0%;
}

.projName {
  padding: 10px;
  margin-top: 2%;
}
.tbody {
  background-color: #403c54;
}

.topNavbarLogList {
  background-color: #e3e2e42a;
  width: 100%;
}

table,
th,
.topNavbarLogList {
  border-top: 0.5px solid;
  padding: 5px;
}

#row2 {
  border-right: 1px solid;
  border-color: rgba(255, 255, 255, 0.672);
  color: rgba(255, 255, 255, 0.672);
}

#row2txt {
  color: rgba(255, 255, 255, 0.672);
  text-decoration: none;
}
.btn-group5 {
  margin-left: 100%;
}

.btn-sm btn-outline-secondary {
  font-size: small;
  color: white;
}

.createScript {
  background-color: #2e2b3e;
  border: 0px solid #ffffff6d;
}

.scriptName {
  color: #ffffffc0;
}

.close {
  background-color: #2e2b3e;
}

.scriptatt {
  color: #ffffff;
}

.scriptCreateForm {
  background-color: #2e2b3e;
  border: 0.1px solid #ffffff6d;
  color: #ffffff;
}

.sidecontainer{

  border:0.1px solid #ffffff2a;
  padding: 10px;
  padding-bottom: 200px;
  margin-left: 3px;
  margin-right: 3px;
}

.breadcrumb-item{
color:var(--theme-breadcrum-color);
}
.breadcrumb-item a{
color:var(--theme-breadcrum-color);
  text-decoration: none;
}

.jsontype{
  font-size: smaller;
}