img {
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
  }
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  .login-form{
    width: 450px;
    margin-left: auto;
    margin-right:auto;

  }

  .loginheading{
    color: #c3c8cB;
    text-align: center;

  }

  .form-control{

    height: 50px;
    border-color: #6E71CF;
    border: 2px solid  #6E71CF;
    margin-bottom: 20px;
  }

  .form-label {

    color: #c3c8cB;
  }

  .btn-primary{
    background-color: #6E71CF;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;

  }
  button{

    background-color: #6E71CF;
    margin-right:25%;
    width: 100%;


  }
  .passwordchange{
    text-align: center;
    color: #6E71CF;
  }

  .mb-0{
    color: #c3c8cB;
    text-align: center;

  }
.error{
  color: crimson;
}
@media(max-width:800px){
  .img{
    height: 170px;
  }

}
@media(max-width:650px){
  .login-form{
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .login-form > form{
    margin-top: 20px;
  }
}
@media(max-width:450px){
  .login-form{
    width: 315px;

  }
}
@media(max-width:375px){
  .login-form{
    width: 300px;

  }
}
@media(max-width:340px){
  .login-form{
    width: 280px;
  }
}
