<app-sign-out></app-sign-out>
<div>
  <div class="container-fluid">
    <div class="row container-main">

      <div class=" main">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#"> Home</a>
            </li>
            <li class="breadcrumb-item">
              <a  href="#"> Projects</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">Logs</li>
          </ol>
        </nav>

        <div class="containerLogEvent">
          <div class="row align-items-start">
            <div
              class="
                d-flex
                justify-content-between
                flex-wrap flex-md-nowrap
                align-items-center
                pt-3
              "
            >
              <h1 class="h2">Log Events</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2"></div>
                <div ngbDropdown class="d-inline-block">
                  <button
                    class="btn btn-sm btn-outline-secondary dropdown-toggle"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                  >
                    Export as
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>XML</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="input-group rounded">
              <input
                type="search"
                class="form-control rounded searchbar"
                placeholder="Filter Log Events .."
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <!-- <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span> -->
            </div>
            <div class="">
              <textarea class="txtArea" rows="30" readonly>
                {{ logString }}

              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
