.container-main {
  height: 100vh;
  padding: 0%;
}

.sideBar {
  background-color: #2e2b3e;
  padding: 0;
}

.txtArea {
  resize: none;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.933);
  font-size: smaller;
}

.breadcrumb {
  color: aliceblue;
}
.breadcrumb-item{
  color:var(--theme-breadcrum-color);

}
.breadcrumb-item a{
  color:var(--theme-breadcrum-color);
  text-decoration: none;
}
.containerLogEvent {
  background-color: rgba(255, 254, 254, 0.933);
  margin-bottom: 0%;
  padding: 5px;
  color:black;
}
.dropdown {
  margin-bottom: 10%;
  width: 100px;
}
flexheader h2 {
 font-size: medium;
}

.searchbar {
  margin-top: 0%;
  font-size: small;
}
