<app-sign-out></app-sign-out>
<div>
  <div class="container-fluid">
    <div class="row container-main">
      <div class="col-md-2">
        <app-nav-bar></app-nav-bar>
      </div>

      <div class="col-md-10 main">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a style="color: aliceblue" href="#"> Home</a>
            </li>
            <li class="breadcrumb-item">
              <a style="color: aliceblue" href="#"> Projects</a>
            </li>

            <li class="breadcrumb-item active" aria-current="page">Logs</li>
          </ol>
        </nav>

        <div class="containerLogEvent">
          <div class="row align-items-start">
            <b class="logsEventHeading"><h5>Log events</h5></b>
            <br />
            <div class="col">
              
              <div class="form-check" id="viewAStxt">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label">
                  View as text
                </label>
              </div>
            </div>
    
            <div class="col">
              <div class="row">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btnexportAs" id="dropdownBasic1" ngbDropdownToggle>Export as</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button ngbDropdownItem>Action - 1</button>
                      <button ngbDropdownItem>Another Action</button>
                      <button ngbDropdownItem>Something else is here</button>
                    </div>
                  </div>
                </div>
              </div>
              
            
            </div>
            <div class="col"></div>
            <div class="col">
              
            </div>
            <div class="col">
         
              
            </div>
            <div class="input-group rounded">
              <input
                type="search"
                class="form-control rounded searchbar"
                placeholder="Filter logs"
                aria-label="Search"
                aria-describedby="search-addon"
              />
              <!-- <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
              </span> -->
            </div>
            <div class="">
              <textarea
                class="txtArea"
                rows="25"
                readonly
              >
                {{ logString }}

              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
