.align-items-start{
background-color:    rgba(243, 240, 240, 0.933);
width: 100%;
border-radius: 2px;

}
.scrpit-header{
  color: var(--theme-loglist-projname-color);
}

.FormControlTextarea{
  width: 100%;
  padding: 3px;
  margin-left: 0%;
  border-top: 1px #83828a solid;

}
.breadcrumb-item{
  color:var(--theme-breadcrum-color);
}
.breadcrumb-item a{
  color:var(--theme-breadcrum-color);
  text-decoration:none ;
}
.resultheading{
   border-bottom: 1px #83828a solid;
   margin-bottom: 2px;

}
.scriptViwerHeader{
  width: 100%;
  padding: 1px;
  border: 1px #83828a solid;
  font-size: small;

}
.container{
  background:var(--theme-script-resultheader-background) ;
}
.result-type-btn{

  font-size: 16px;
  border-bottom: none;
  color: black ;
  background: #C4C4C4;
  margin-left: 3px;
  width: 100px;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 8px;
  outline: none;
}
.btnGroup{
  float:right;
  width: 200px;
  margin-right: 0px;
  margin-bottom: 3px;

}
.result-type-btn:focus{
  background-color:#B7B8E7;

}
.btn-outline-secondary{
  color: var(--theme-button-txt-color);
  border-color:var(--theme-button-border-color) ;
}
