.align-items-start{
background-color:    rgba(243, 240, 240, 0.933);
width: 100%;
border-radius: 2px;

}


.FormControlTextarea{
  width: 100%;
  padding: 0%;
  margin-left: 0%;
  border: wheat;
  font-size: small;

}

.scriptViwerHeader{
  width: 100%;
  padding: 3px;
  border: 2px white solid;



}
.result-type-btn{

  font-size: 16px;
  border-bottom: none;
  color: black ;
  background: #C4C4C4;
  margin-left: 5px;
  width: 100px;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 8px;
  outline: none;
}
#btnGroup{

  padding-top: 10px;
  float:right;

}
.result-type-btn:focus{
  background-color:#B7B8E7;

}
.result-heading-container{
  padding: 5px;
  background: linear-gradient(90deg, rgba(110, 113, 207, 0.66) 0%, rgba(183, 184, 231, 0.28) 99.66%);
  color: white;
  margin-bottom: 5px;
}

