body {
  background-color: var(--theme-background);
  font-size: .875rem;
  z-index: 2;
  font-family: 'roboto';
    color: var(--theme-color);
}

.main-body{
  margin-left: 200px;
 
}
.main-collapsed{
  margin-left: 50px;
}
@media (max-width: 768px) {
  .main{
    padding-top: 80px;
  }
}

.main-nonav{
  margin-left: 0px;
}
