body {background-color: #1e1c28;}
img {
    width: 100%;
    height: auto;
    margin:0;
    padding:0;
  }
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  .form{

    margin-left: auto;
    margin-right:auto;
    width: 450px;
  }

  .loginheading{
    color: #c3c8cB;
    text-align: center;

  }

  .form-control ,input[type="text"],
  select.form-control  {

    border-color: #6E71CF;
    border: 2px solid  #6E71CF;
    height: 50px;
    margin-bottom: 20px;
  }

  .form-label {

    color: #c3c8cB;
  }

  .btn-primary{
    height: 50px;
    background-color: #6E71CF;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  button{

    background-color: #6E71CF;
    margin-right:25%;
    width: 100%;


  }
  .passwordchange{
    text-align: center;
    color: #6E71CF;
  }

  .mb-0{
    color: #c3c8cB;
    text-align: center;

  }
.error{
  color: crimson;
}
.message{
  color:#0d6efd ;
}

