<div
  class="navList navbar-sticky sidebar"
  id="adminAccordion"
  *ngIf="!customCollapse; else elseBlock"
>

  <img src="../../assets/shortLogo.png" alt="" class="navImg" />
  <!-- <div class="collapsedIcon" (click)="onCollapse()">
    <i-bs name="chevron-left" width="15px" height="15px">
    </i-bs>
  </div> -->
  <app-regular-item
  (click)="onCollapse()"
    IconName="arrow-left-circle-fill"
  
    class="collapsedIcon"
  ></app-regular-item>
  <app-regular-item
    Name="Home"
    IconName="house-fill"
    routerLink="/home"
  ></app-regular-item>
  <app-regular-item
    Name="Alarms"
    IconName="bell-fill"
    routerLink="/alarms"
  ></app-regular-item>
  <app-regular-item
    Name="Projects"
    IconName="search"
    routerLink="/logs"
  ></app-regular-item>
  <app-regular-item
    Name="Logs"
    IconName="file-code-fill"
    routerLink="/logs"
  ></app-regular-item>
  <app-regular-item
    Name="Dashboard"
    IconName="speedometer"
    routerLink="/logs"
  ></app-regular-item>
  
  </div>
<ng-template #elseBlock>
  

  <div class="collapsedNavlist">

    
    <div class="collapsedIcon2"(click)="onCollapse()">
      <i-bs name="arrow-right-circle-fill" width="20px" height="20px"> </i-bs>
    </div>
   
    <div class="collapsedItem"></div>

    <div class="collapsedItem" routerLink="/home">
      <i-bs name="house-fill" width="20px" height="20px"> </i-bs>
    </div>

    <div class="collapsedItem" routerLink="/alarms">
      <i-bs name="bell-fill" width="20px" height="20px"> </i-bs>
    </div>
    <div class="collapsedItem" routerLink="/logs">
      <i-bs name="search" width="20px" height="20px"> </i-bs>
    </div>
    <div class="collapsedItem" routerLink="/logs">
      <i-bs name="file-code-fill" width="20px" height="20px"> </i-bs>
    </div>
    <div class="collapsedItem" routerLink="/home">
      <i-bs name="speedometer" width="20px" height="20px"> </i-bs>
    </div>
  
  </div>
</ng-template>
