<app-logo></app-logo>
<img src = "/assets/LeadLtheme.png" class = "img">
<div class = "form">

    <div class = "loginheading"> <h3>Forgot your password?</h3>
        <h6>Enter your Email below and we will send a message to reset your password</h6>

    </div>
<form>
    <div>
        <label class="form-label" for="form1Example1">Email address</label>
        <input type="email" name="email"  required placeholder="Enter your email"  class="form-control" >
    </div>
   


    <div >
    
        <button class="btn btn-primary " type="submit">Reset my Password </button>
    </div>
     <!-- 2 column grid layout for inline styling -->


  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <!-- <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="form1Example3"
          checked
        />
        <label class="form-label" for="form1Example3"> Remember me </label>
      </div> -->
    </div>

    <div class="passwordchange">
      
    </div>
  </div>


</form>

</div>
